/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,battery = &vbatt;
    };

    # 3x3 Matrix (9 Switches)
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        row-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // D1
                    <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, // D2
                    <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // D3
        col-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,  // D8
                    <&gpio0 9 GPIO_ACTIVE_HIGH>,  // D9
                    <&gpio0 10 GPIO_ACTIVE_HIGH>; // D10
    };

    # Rotary Encoder (Pins D6 & D7)
    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        b-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        steps = <80>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };

    # Battery Sensor on D0
    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>; 
        output-ohm = <1000000>;
        full-ohm = <2000000>;
    };
};